_site
.sass-cache
.jekyll-metadata
.jekyll-cache
.bundle
Gemfile.lock
vendor
assets/img/header/main-foto.jpg
assets/img/articles/.DS_Store
assets/.DS_Store
assets/img/.DS_Store
_posts/2019/.DS_Store
_posts/.DS_Store
.DS_Store
