# Welcome to Jekyll!
#
title: Piráti Praha 1
email: praha1@pirati.cz
description: >- # this means to ignore newlines until "baseurl:"
  Stránka místního sdružení Piráti Praha 1.
keywords: piráti, česká pirátská strana, svoboda, demokracie, Piráti Praha 1, piráti na pětce # dobré keywords jsou ty co lidé piší do googlu když hledají naši stránku

organization:
  name: Piráti Praha 1
  shortName: Piráti Praha 1
  contactUid: pavel.nazarsky
  email: praha1@pirati.cz
  phone: +420 
  address: |
    Řehořova 19
    130 00 Praha 3
  residenceImg:
  mapLink: https://mapy.cz/s/2N7Yv
  redmineLink: https://redmine.pirati.cz/projects


calendar:
  apiKey: AIzaSyBdjZxz4r9lPyD3CiSxQa6G3mf47ezI7Ks
  id: rm0h4oqjk2j2o0615sc4d1slfk@group.calendar.google.com
  title: "Celopražský kalendář"
  page: "https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=500&amp;wkst=2&amp;hl=cs&amp;bgcolor=%23FFFFFF&amp;src=rm0h4oqjk2j2o0615sc4d1slfk%40group.calendar.google.com&amp;color=%23B1365F&amp;src=lpvmfpogihrca3lqs9p2udae0k%40group.calendar.google.com&amp;color=%238D6F47&amp;ctz=Europe%2FPrague"
  
facebook:
  loadSDK: true
  profilePage: https://www.facebook.com/pirati11.cz/
  appId: 1526197851008996

twitter:
  loadSDK: true
  profile: piratipraha

instagram:
  profilePage: https://www.instagram.com/piratipraha11/

gplus:
  profilePage: https://plus.google.com/u/0/+piratskastrana

flicker:
  profilePage: https://www.flickr.com/photos/pirati/

forum:
  page: https://forum.pirati.cz/

github:
  url: https://github.com/pirati-web/praha11.pirati.cz/
  branch: master

############## SETTINGS ########
github_username:  jekyll

theme: jekyll-theme-pirati

sass:
  style: compressed
  sass_dir: _sass
# Build settings
markdown: kramdown
theme: jekyll-theme-pirati
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
paginate_path: "/aktuality/:num/"
paginate: 11

exclude:
  - readme.md
  - Gemfile
  - Gemfile.lock
  - vendor

permalink: /aktuality/:title.html
collections:
  people:
    output: true
    permalink: /lide/:path/

  program:
    output: true
    permalink: /komunalni-volby/program/:path/

  # Sole purpose is to create candidate lists in separate files.
  candidatelists:
    output: false

defaults:   # defaults values for collection scope
  -
    scope:
      path: "_people"
    values:
      layout: "person"
      rbar: 
        - foto
        - personContact
  -
    scope:
      path: "_program"
    values:
      layout: "program-post"
      rbar: 
         - garant
         - program

emptyArray: []

assets:
  source_maps: true
  compression: true
  gzip: false
  plugins:
    css: { autoprefixer: {}}
    img:
      optim:
        jpegoptim:
          strip: all
          max_quality: 80
  autoprefixer:
    browsers:
      - "last 2 versions"
      - "IE > 9"
  sources:
    - vendor/bundle/ruby/2.5.0/gems/jekyll-theme-pirati-5.0.0/_sass
    - assets/css
    - assets/fonts
    - assets/video
    - assets/img
    - _sass
