# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Piráti Praha 1
email: praha1@pirati.cz
description: Stránka místního sdružení Piráti Praha 1 na Starém Měste v centru Prahy
keywords: Piráti, Česká pirátská strana, svoboda, demokracie, Piráti Praha 1, piráti v centru Prahy # dobré keywords jsou ty co 
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://praha1.pirati.cz" # the base hostname & protocol for your site

administrator:
  email: jan.suchanek@gmail.com # mail kam pujdou chybove vystupy

theme: jekyll-theme-pirati

sass:
  style: compressed
  sass_dir: _sass

# Build settings
markdown: kramdown

plugins:
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-paginate
  - jekyll-environment-variables

paginate_path: "/aktuality/:num/"
paginate: 11

exclude:
  - Dockerfile
  - docker-compose.yml
  - deploy_rsa_sandbox.enc
  - deploy_rsa_sandbox.pub
  - navod.md
  - readme.md
  - Gemfile
  - Gemfile.lock
  - vendor

permalink: /tiskove-zpravy/:title/
collections:
  people:
    output: true
    root: /clenove/
    permalink: /clenove/:path/

  program:
    output: true
    permalink: /komunalni-volby-2018/program/:path/

  # Sole purpose is to create candidate lists in separate files.
  candidatelists:
    output: false

defaults:   # defaults values for collection scope
  -
    scope:
      path: "_people"
    values:
      layout: "person"
      rbar:
        - foto
        - personContact
        - people
      keywords: členové, příznivci, lidé
  -
    scope:
      path: "_program"
    values:
      layout: "program-post"
      rbar:
        - garant
        - program
      keywords: program, volby, 2018, komunální volby

organization:
  name: Piráti Praha 1
  shortName: Piráti Praha 1
  email: praha1@pirati.cz
  contactUid: pavel.nazarsky
  phone: +420 608 770 778
  address: |
    Řehořova 19
    130 00 Praha 3
  #residenceImg: miscellaneous.jpg
  mapLink: https://mapy.cz/s/2N7Yv
  redmineLink: https://redmine.pirati.cz/projects
  dataBoxId: b2i4r6j
  transparentAccount: 2100048174/2010

contactSummaryItems:
  - type: organizationEmail
  - type: organizationRedmineLink
  - type: organizationPhone
  - type: organizationTransparentAccount
    includeMoreLink: true
  - type: custom
    iconClass: fa fa-facebook
    label: Facebooková stránka
    body: <a href="https://www.facebook.com/PiratiP1/" target="_blank">Piráti Praha 1</a>

calendar:
  # To enable a nicer calendar, make sure you start jekyll with GOOGLE_CALENDAR_APIKEY=[apikey] bundle exec jekyll serve
  title: Nadcházející události
  #id: rm0h4oqjk2j2o0615sc4d1slfk@group.calendar.google.com
  id: pirati.praha1@gmail.com
  page: https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=500&amp;wkst=2&amp;hl=cs&amp;bgcolor=%23FFFFFF&amp;src=rf0um1k433bmqmmfq4m68hsmv4%40group.calendar.google.com&amp;color=%23B1365F&amp;src=pirati.praha1%40gmail.com&amp;color=%238D6F47&amp;ctz=Europe%2FPrague

facebook:
  profilePage: https://www.facebook.com/PiratiP1/
  loadSDK: true
  appId: 1526197851008996

twitter:
  profile: piratipraha11
  loadSDK: true

instagram:
  #profilePage: https://www.instagram.com/piratipraha11/

gplus:
  profilePage: https://plus.google.com/u/0/+piratskastrana

#forum:
#  page: https://forum.pirati.cz/

github:
  url: https://github.com/pirati-web/praha1.pirati.cz/
  branch: master

emptyArray: []

assets:
  source_maps: true
  compression: true
  gzip: false
  plugins:
    css: { autoprefixer: {}}
    img:
      optim:
        jpegoptim:
          strip: all
          max_quality: 80
  autoprefixer:
    browsers:
      - "last 2 versions"
      - "IE > 9"
  sources:
    - vendor/bundle/ruby/2.5.0/gems/jekyll-theme-pirati-6.7.0/_sass
    - assets/css
    - assets/fonts
    - assets/video
    - assets/img
    - _sass
