---
layout: default
rbar:
  - calendar
  - fb
description: >
  Piráti od roku 2018 zakotvili i v Pardubicích. Prosazujeme transparentní
  veřejnou správu bez klientelismu a pochybných zakázek. Usilujeme o Pardubice,
  které jsou moderní, přátelské a především ochotné naslouchat svým občanům.
  Sledujte co je nového a buďte u toho.
---

{% include homepage/banner.html
   link='/komunalni-volby-2018/'
   title='Komunální volby 2018'
   default='header/komunal-banner-large.png'
   mobile='header/komunal-banner-small.png'
   breakpoint=640
%}

<div class="row">
  <div class="medium-12 large-8 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner o-section-inner--leftBlock">
        <header>
          <h1 class="o-section__heading t-h1-super">Piráti Praha 1 Staré Město</h1>
        </header>
          <p>Piráti od roku 2018 zakotvili i na Praze 1. Prosazujeme transparentní
  veřejnou správu bez klientelismu a pochybných zakázek. Usilujeme o Staré Město,
  které je moderní, přátelská a především ochotná naslouchat svým občanům.
  Sledujte co je nového a buďte u toho.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/w2QGlpIqQQQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        {% for article in site.posts limit: 6 %}
          {% include articles/horizontal-article.html article=article %}
        {% endfor %}
        <div class="c-article-listing__nextbox">
          <a href="{{'/aktuality/' | relative_url}}" rel="next" class="button expanded large">Další články</a>
        </div>
      </div>
    </section>
  </div>
  {% if page.rbar %}
  <div class="medium-12 large-4 columns">
    {% include right-bar/rbar.html param='rbar' %}
  </div>
  {% endif %}
</div>
