---
layout: default
rbar:
  - calendar
  - fb
description: >
  Piráti od roku 2018 zakotvili i v Praze 1. Prosazujeme transparentní
  veřejnou správu bez klientelismu a pochybných zakázek. Usilujeme o Prahu 1,
  která je  moderní, přátelskéá a především ochotná naslouchat svým občanům.
  Sledujte co je nového a buďte u toho.
---

{% include homepage/banner.html
   link='/komunalni-volby-2018/'
   title='Komunální volby 2018'
   default='header/komunal-banner-large.png'
   mobile='header/komunal-banner-small.png'
   breakpoint=640
%}

<div class="row">
  <div class="medium-12 large-8 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner o-section-inner--leftBlock">
        <header>
          <h1 class="o-section__heading t-h1-super">Piráti Praha 1 Staré Město</h1>
        </header>
        <p> Piráti od roku 2018 zakotvili i v Praze 1. Prosazujeme transparentní
  veřejnou správu bez klientelismu a pochybných zakázek. Usilujeme o Prahu 1,
  která je  moderní, přátelskéá a především ochotná naslouchat svým občanům.
  Sledujte co je nového a buďte u toho.</p>

        <h2>11.9.2018 - netradiční rozloučení s vládnoucí garniturou na Praze 1, ... tentokrát melouny pro všechny</h2>
        <p>
        <iframe width="732px" height="412px" src="https://www.youtube.com/embed/w2QGlpIqQQQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </p>

        <h2>Atmosféra z Prague Pride 2018 očima Pirátů</h2>

        <p>My, Piráti z Prahy 1, jsme 11.8.2018 se svými kolegy z jiných pražských městských částí “proplouvali” na své plachetnici ulicemi Prahy 1.  Na pár hodin se nám tak podařilo roztančit naši městskou část.</p>

        <p>Byl to veselý, přátelský a respektující Prague Pride festival za přítomnosti Zdeňka Hřiba, pirátského kandidáta na pražského primátora, a dále poslanců Parlamentu ČR Jakuba Michálka a Františka Kopřivy.</p>

        <p>Pirátská loď plující pod duhovými plachtami byla v průvodu Prague Pride nepřehlédnutelná! A co je s ní teď? Naše posádka Česká pirátská strana 🏴se do ní zamilovala a zvažovala umístit ji před nové pirátské centrum na Palackého náměsít. Ale vzdali jsme se ji ve prospěch dětí v Mateřské školce Nučice, kde už kotví, aby všem dělala radost.</p>

        <iframe width="732px" height="412px" src="https://www.youtube.com/embed/N1e2PblH7mM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        <h2>Aktuální dění na Praze 1 a u Pirátů</h2>
        {% for article in site.posts limit: 6 %}
          {% include articles/horizontal-article.html article=article %}
        {% endfor %}
        <div class="c-article-listing__nextbox">
          <a href="{{'/aktuality/' | relative_url}}" rel="next" class="button expanded large">Další články</a>
        </div>
      </div>
    </section>
  </div>
  {% if page.rbar %}
  <div class="medium-12 large-4 columns">
    {% include right-bar/rbar.html param='rbar' %}
  </div>
  {% endif %}
</div>
