@import 'pirati';

.c-widget-share-box + .c-pardubice-infobox,
.c-pardubice-infobox + .c-pardubice-infobox {
    margin-top: 2rem;
}

.c-pardubice-infobox {
    background: $light-gray;
    padding: 2rem;
}


.pce-hero {
    padding: 4rem 1rem;
    text-align: center;

    &--entry {
        padding: 6rem 2rem 3rem;
    }

    @include breakpoint(medium up) {
        padding: 6rem 2rem;

        &--entry {
            padding: 10rem 2rem 6rem;
        }
    }
}

.pce-hero__content {
    margin: auto;
    max-width: 60em;
}

.pce-hero__cta {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(medium up) {
        margin-top: 4rem;
        flex-direction: row;
        justify-content: center;
    }
}

.pce-hero__cta-item {
    margin: .5rem 0;

    @include breakpoint(medium up) {
        margin: 0 1rem;
    }
}