@import 'pirati';
@import 'layouts/_kandidatka';


.pce-hero {
    padding: 4rem 1rem;
    text-align: center;

    &--entry {
        padding: 6rem 2rem 3rem;
    }

    @include breakpoint(medium up) {
        padding: 6rem 2rem;

        &--entry {
            padding: 10rem 2rem 6rem;
        }
    }
}

.pce-hero__content {
    margin: auto;
    max-width: 60em;
}

.pce-hero__cta {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(medium up) {
        margin-top: 4rem;
        flex-direction: row;
        justify-content: center;
    }
}

.pce-hero__cta-item {
    margin: .5rem 0;

    @include breakpoint(medium up) {
        margin: 0 1rem;
    }
}


.pce-im-teaser {
    position: relative;

    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .2);
    }
}

.pce-im-teaser__cta {
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}




.l-program__item-name {
    text-align: center;
    padding: 2rem 0
}

.l-program__item-name > p {
    font-style: italic
}

.l-program__item-name i {
    font-size: 6rem;
    margin-bottom: 2rem
}

.l-program__item-garant {
    font-size: .85em
}

.l-program__item-garant h2 {
    text-align: left;
    margin: 0;
    font-size: 1rem
}

.l-program__item-garant br {
    display: none
}

.l-program__item-garant p {
    text-align: left
}

.l-program__item-garant .columns {
    width: 100%
}

.l-program__item-garant .o-media__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    padding: 0;
    margin-right: 2rem
}

.l-program__item-garant .o-media__image img {
    width: 100%;
    position: relative;
    top: -1rem
}

.l-program__item-accordion .accordion-title {
    color: #0a0a0a;
    font-size: 1.3rem
}

.l-program__item-accordion .accordion-content li {
    margin-bottom: .5rem
}

.l-prg__card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: left
}

@media screen and (max-width: 29.9375em) {
    .l-prg__card-title {
        margin-right: 3rem
    }
}

.l-program__item-name {
    text-align: center;
    padding: 2rem 0
}

.l-program__item-name > p {
    font-style: italic
}

.l-program__item-name i {
    font-size: 6rem;
    margin-bottom: 2rem
}

.l-program__item-garant {
    font-size: .85em
}

.l-program__item-garant h2 {
    text-align: left;
    margin: 0;
    font-size: 1rem
}

.l-program__item-garant br {
    display: none
}

.l-program__item-garant p {
    text-align: left
}

.l-program__item-garant .columns {
    width: 100%
}

.l-program__item-garant .o-media__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    padding: 0;
    margin-right: 2rem
}

.l-program__item-garant .o-media__image img {
    width: 100%;
    position: relative;
    top: -1rem
}

.l-program__item-accordion .accordion-title {
    color: #0a0a0a;
    font-size: 1.3rem
}

.l-program__item-accordion .accordion-content li {
    margin-bottom: .5rem
}

.l-prg__card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: left
}

@media screen and (max-width: 29.9375em) {
    .l-prg__card-title {
        margin-right: 3rem
    }
}

.l-prg__id {
    border-radius: 100px;
    background: black;
    color: white;
    margin: 0;
    position: absolute;
    width: 2em;
    line-height: 2em;
    text-align: center;
    margin-left: -1em;
    margin-top: -1em;
    font-weight: bold;
    font-size: 2em;
    top: 50%;
    left: 50%
}

@media screen and (max-width: 29.9375em) {
    .l-prg__id {
        right: 1.5rem
    }
}

.l-prg__stats-done {
    position: relative
}

.l-prg__garant-name {
    text-align: right
}

.l-prg__garant-img {
    max-width: 50px;
    display: inline-block
}

