---
layout: default
---

{% if page.heroImg %}
  {% if site.mediaStorage %}
      {% capture imgPath %}https://a.pirati.cz/{{ site.mediaStorage }}/img/{{ page.heroImg }}{% endcapture %}
  {% else %}
      {% capture imgPath %}{% asset '{{ page.heroImg }}' @path %}{% endcapture %}
      {% assign imgPath = imgPath | absolute_url %}
  {% endif %}
{% elsif page.img %}
  {% if site.mediaStorage %}
      {% capture imgPath %}https://a.pirati.cz/{{ site.mediaStorage }}/img/{{ page.img }}{% endcapture %}
  {% else %}
      {% capture imgPath %}{% asset '{{ page.img }}' @path %}{% endcapture %}
      {% assign imgPath = imgPath | absolute_url %}
  {% endif %}
{% endif %}

{% capture personName %}{% include people/fullname.html person=page %}{% endcapture %}

{%
  include hero/simple.html
  headline=personName
  description=page.profession
  headlineClass="text-center lg:text-left mx-auto lg:mx-0"
  descriptionClass="max-w-xl mx-auto text-center lg:text-left"
  heroSpacing="pt-16 pb-24 lg:pt-32 pb-24"
  class="candidate-detail__hero"
  bgImg=imgPath
%}

<div class="container container--default py-8 lg:pb-24">
  <main>
    <div class="flex flex-col lg:flex-row lg:space-x-8 xl:space-x-16">
      <section class="lg:w-3/5 xl:w-2/3">
        <div class="content-block w-full">
          {{ content }}
        </div>
      </section>
      <section class="lg:w-2/5 xl:w-1/3 pt-8 lg:pt-0 order-first lg:order-last candidate-detail__sidebar">
        {% include right-bar/rbar.html %}
      </section>
    </div>
  </main>
  {% assign posts = page.posts | slice:0,3 %}
  {% if page.posts.size > 0 %}
  <section>
    <h2 class="head-alt-md mt-8 pb-4 lg:pb-8">Moje aktuality</h2>
    {% assign posts = page.posts | slice:0,3 %}
    {% include articles/list-responsive.html posts=posts %}
    {% if page.posts.size > 3 %}
    <nav class="text-center">
      {% capture authorUrl %}/aktuality/autori/{{ page.name | slugify: "latin" }}/{% endcapture %}
      {% include buttons/icon.html href=authorUrl cta="Další aktuality" icon="ico--chevron-right" class="text-xl pt-8" rel="next" %}
    </nav>
    {% endif %}
  </section>
  {% endif %}
</div>
